
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@300;700&family=Philosopher:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(63, 63, 63);
}

a {
    text-decoration: none;
    color: grey;
}

a:hover{
    color: rgb(85, 71, 85);
}

h2 {
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 2.6em;
    color: rgb(80, 66, 80);
    padding: .6em;
    letter-spacing: .3em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    background-color: rgb(206, 206, 206);
    align-items: center;
}

header div {
    padding: 0;
    margin: 2em 1em;
}
textarea {
    outline: none;
    resize: none;
    box-sizing: border-box;
    border: none;
    font-style: italic;
    padding: 10px;
}
textarea:focus {
    background-color: rgb(236, 236, 236);
    color: rgb(116, 105, 115);
    font-style: normal;
}

p {
    margin: .3em .8em;
}
footer {
    font-size: .8em;
    color: rgb(110, 110, 110);
    padding: .5em 1em
}
.wrapper {
    margin: 0 auto;
    background-color: rgb(223, 223, 223);
    border: 1px rgb(53, 53, 53) solid;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
.colorButton  {
    outline: none;
    border: none;
    height: 18px;
    width: 30px;
    margin: .1em;
    cursor: pointer;
}

#addEntry {
    background-color: white;
    outline: none;
    border: none;
    width: 90px;
    height: 90px;
    font-size: 1.7em;
    border-radius: 10px;
    box-shadow: -3px 4px 34px -6px rgba(68, 36, 36, 0.35);
}

#addEntry:hover {
    background-color: rgb(90, 80, 90);
    color: white;
}

#addEntry:active {
    background-color: black;
    color: white;
}

#textareaContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0;
    padding: 0;
}

#subjectArea {
    height: 35%;
}

#entryArea {
    height: 65%
}

#notes-container {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    background-color: rgb(255, 255, 255);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 0 2.5em 2.5em 2.5em;
    padding: 2em;
}

#notes-container div {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    max-height: 275px;
    max-width: 290px;
    min-width: 175px;
    place-self: center;
    overflow: auto;
    overflow-x: hidden;
    padding: .2em;
    margin: .3em .1em;
    font-family: 'Philosopher';
    color: rgb(88, 88, 88);
    transition: all .3s ease-in-out;
    position: relative;
    word-wrap: break-word;
}

#notes-container div::-webkit-scrollbar {
    width: .7em;
  }

#notes-container div::-webkit-scrollbar-thumb {
    background-color: rgb(161, 161, 161);
  }

#notes-container div:hover {
    box-shadow: 1px 7px 8px -8px rgba(0,0,0,0.75);
    transform: scale(1.05);
}

#writeNewNote {
    display: flex;
    justify-content: center;
    height: 100px;
    text-align: center;
    margin-top: 2em;
}

#colorBarDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}

#send {
    border: none;
    outline: none;
    height: 100%;
    width: 100px;
    background-color: rgb(0, 0, 0);
    color: rgb(221, 221, 221);
    padding: 3px;
    font-family: 'Quicksand';
    font-size: 1.5em;
}

#send:hover {
    background-color: rgb(168, 159, 168);
    color: rgb(243, 243, 243);
}

#send:after {
    /* content: '✔' ; */
    content: '⤑';
    content: '⤵';
    font-size: 2.2em;
}
.selected:after {
    content: '✓';
    font-size: 1.2em;
    color: grey
}

.hidden {
    display: none;
}
#clearDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1em;
    text-align: center;
    padding: .7em 1.5em;
}


#delBtn {
    background-color: rgb(190, 190, 190);
    position: absolute;
    outline: none;
    border: 1px solid rgb(196, 196, 196);
    color: grey;
    font-weight: bold;
    width: 26px;
    height: 26px;
    text-align: center;
    padding: .1em;
    left: 0;
    top: 0;

}
#delBtn:hover {
    background-color: rgb(71, 71, 71);
    color: white
}

#editBtn {
    background-color: rgb(190, 190, 190);
    position: absolute;
    left: 0;
    top: 26px;
    color: grey;
    outline: none;
    border:none;
    width: 26px;
    height: 26px;
    padding: .1em;
    border: 1px solid rgb(196, 196, 196);
    font-size: 1.3em;
    text-align: center;
}


#editBtn:hover {
    background-color: rgb(71, 71, 71);
    color: white;
}

#saveEditBtn {
    outline: none;
    border: none;
    background-color: rgb(122, 122, 122);
    color: lightgrey
}

.purple{
    filter: invert(23%) sepia(29%) saturate(486%) hue-rotate(256deg) brightness(90%) contrast(77%);
}

#subjectEl {
    font-family: 'Quicksand';
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: .1em;
    font-size: .9em;
    padding: .3em .8em;
    margin: .5em 1.2em .5em 1.5em;
}

#entryEl {
    padding: .4em .6em;
    margin: .5em .5em .5em 1.3em;
}
#dateEl {
    font-family: 'Quicksand';
    font-size: .9em;
    letter-spacing: .2em;
    padding: .2em .6em;
    margin: .5em .5em .5em 1em;
}

#empty {
    color: rgb(175, 175, 175);
    font-size: 1.2em
}

#trash {
    filter: invert(63%) sepia(2%) saturate(18%) hue-rotate(321deg) brightness(96%) contrast(93%);
    cursor: pointer;
    padding: .3em;
}

#trash:hover {
    filter: invert(43%) sepia(0%) saturate(1%) hue-rotate(226deg) brightness(89%) contrast(83%);
}

